.answer {
  margin: 20px 20px 20px 20px;
}

.title {
  font-size: 160%;
}

.question {
  font-size: 120%;
  height: 100px;
  minheight: 100px;
}

.statusStyle {
  height: 50px;
  font-size: 200%;
  margin-top: 10;
}

.center {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.btnGroup {
  display: flex;
}

.btnFlex {
  flex: 1;
  height: 200px;
}

.moveButton {
  font-size: 125%;
  background: transparent;
  border: 2px solid #0099cc;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
  text-align: center;
}

.newGameButton {
  font-size: 125%;
}

.boardMain {
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
.boardObject {
  display: inline-block;
  border: 1px solid red;
  padding: 1rem 1rem;
  vertical-align: middle;
}

/* #boardMain { 
  width: 800px;
  margin: 0 auto;
}

#board {
  width: 200px;
  height: 400px;
  background: red;
  float: left;
}

#sidebar {
  width: 600px;
  background: #ffffff;
  height: 400px;
  margin-left: 200px;
} */